

<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <!-- <a href="#" class="nav__logo">
                <img src="/assets/icons/logo.svg" alt="" class="nav__logo-icon">
                <span class="nav__logo-text"><box-icon type='solid' name='user-detail'></box-icon></span>
            </a> -->

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-chevron-right'></i>
            </div>

            <ul class="nav__list">
                <a href="/home" class="nav__link active">
                    <i class='bx bx-grid-alt nav__icon'></i>
                    <span class="nav__text">Home</span>
                </a>
                <a href="/company" class="nav__link">
                    <i class='bx bx-user nav__icon'></i>
                    <span class="nav__text">Company</span>
                </a>
                <a href="/reports" class="nav__link">
                    <i class="fa-regular fa-folder nav__icon"></i>
                    <span class="nav__text">Reports</span>
                </a>
                <a href="/stock" class="nav__link">
                    <i class="fa-solid fa-boxes-stacked nav__icon"></i>
                    <span class="nav__text">Stock</span>
                </a>
                <a href="/stock-operations" class="nav__link">
                    <i class='bx bx-bell nav__icon'></i>
                    <span class="nav__text">Stock Operations</span>
                </a>
                <a href="/approvals" class="nav__link">
                    <i class="fa-regular fa-circle-check nav__icon"></i>
                    <span class="nav__text">Approvals</span>
                </a>
            </ul>
        </div>
        <a href="/logout" class="nav__link">
            <i class='bx bx-log-out-circle nav__icon'></i>
            <span class="nav__text">Log Out</span>
        </a>
    </nav>
</div>
