@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  /* body {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    font-family: var(--body-font);
    background: linear-gradient(to right, #ffff, #a6e7d2);
    -webkit-transition: .5s;
    transition: .5s;
  } */

  body {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    font-family: var(--body-font);  
    transition: .5s; /* Geçiş efekti */
}


.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: #25af81;
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}

/*Show menu*/
.show {
  width: 168px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Sol ve sağ kenar boşlukları otomatik olarak ayarlanarak ortalar */
  padding: 20px; /* İçeriğin kenarlardan boşluk bırakması için padding ekledim */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.content {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.feature p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}


.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .content,
    .image {
        width: 100%;
        margin-bottom: 20px;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }
}