@import url('SideBar.css');
.page_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__info {
  text-align: center;
  margin-bottom: 20px;
}

.company__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.company__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company__name p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.company__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.detail {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd; /* Hafif bir border ekledim */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Daha belirgin bir gölge ekledim */
}

.company_details_label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company_details_value {
  font-size: 16px;
  color: #333;    
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Şifre kutusunu ortaladım */
}

.password-input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.toggle-password {
  border: none;
  background-color: #4e9c83; /* Rengini değiştirdim */
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px; /* Border radius ekledim */
}

.toggle-password:hover {
  background-color: #3e7f68; /* Hover durumunda rengini değiştirdim */
}

/* Responsive Design */
@media (max-width: 768px) {
  .company__details {
      grid-template-columns: 1fr;
  }

  .company__pic {
      width: 120px;
      height: 120px;
  }

  .company__name p {
      font-size: 20px;
  }

  .detail {
      padding: 15px;
  }
}

@media (max-width: 480px) {
  .company__pic {
      width: 100px;
      height: 100px;
  }

  .company__name p {
      font-size: 18px;
  }

  .detail {
      padding: 10px;
  }

  .company_details_label {
      font-size: 16px;
  }

  .company_details_value {
      font-size: 14px;
  }
} 



.company_details_value {
  padding: 5px;
  display: block;
  /* background-color: #f7f7f780; */
  /* border: 1px solid #00000039; */
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.316); */
} 

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-wrapper {
  width: 100%;
}

.button {
  width: 100%;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-green {
  background-color: #28a745;
}

.button-green:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.button-blue {
  background-color: #007bff;
}

.button-blue:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}