<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homEPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <title>Home</title>
</head>
<body id="body">
    <%- include('../partials/sidebar') %>
    <div class="container">
        <h1>Stockify - Stok Takip</h1>
        <div class="info">
            <p>Stoklarınızı takip etmek artık çok daha kolay ve eğlenceli! Stockify ile stoklarınızı yönetmek için hemen başlayın.</p>
            <a href="/company-stocks" class="button">Stokları Takip Et</a>
        </div>
        <div class="features">
            <div class="feature">
                <h2>Kolay Kullanım</h2>
                <p>Stockify, kullanıcı dostu arayüzü ile stoklarınızı kolayca yönetmenizi sağlar.</p>
            </div>
            <div class="feature">
                <h2>Anlık Bildirimler</h2>
                <p>Stockify, stoklarınızla ilgili önemli güncellemeleri anlık olarak bildirimlerle size iletir.</p>
            </div>
            <div class="feature">
                <h2>Raporlama</h2>
                <p>Stockify, stoklarınızla ilgili detaylı raporlar oluşturmanıza olanak tanır ve verilerinizi analiz etmenize yardımcı olur.</p>
            </div>
            <div class="feature">
                <h2>Özelleştirilebilir Arayüz</h2>
                <p>Stockify, ihtiyaçlarınıza göre arayüzü özelleştirmenize imkan tanır, böylece stoklarınızı daha verimli bir şekilde yönetebilirsiniz.</p>
            </div>
       
    </div>
        
    </div>
    <!-- MAIN JS -->
    <script src="/MainScript.js"></script>
    
</body>
</html>
