<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="RegisterCompany.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
     <!-- SwalFire -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <!-- SwalFire END -->
    <title>Stockify</title>
</head>
<body id="body">
    <%- include('../partials/sidebar') %>
    <div class="form-container">
        <div class="container">
            <h2 style="text-align: center;">Şirket Kayıt Formu</h2>
            <form id="productForm">
             
                <div class="form-group">
                    <label for="Name" style="font-weight: bolder;">İsim</label>
                    <input type="text" id="Name"  >
                </div>
               
                <button  id="registerCompany">Kayıt Ol</button>
            </form>
        </div>
        
    </div>
    <!-- JS -->
    <script src="/RegisterCompanyScript.js"></script>
</body>
</html>
